.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F9F9FA;
    padding: 28px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
    display: flex;
    justify-content: space-around;
}
.nav__link {
    color: #2E373D;
    position: relative;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px)rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
    animation: notificationAnimation 2s ease-in-out infinite;
}
.nav__check {
    display: block;
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    left: 28px;
    bottom: 30px;
}